* {
    /*margin: 0;*/
    /*padding: 0;*/
    box-sizing: border-box;
}

.item {
    width: 50%;
    background: #f5f5f5;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.heading {
    font-size: 22px;
    margin-bottom: 8px;
}

.description {
    font-size: 18px;
    color: #444;
}
