* {
    /*margin: 0;*/
    /*padding: 0;*/
    box-sizing: border-box;
}

ul {
    background: #f3f3f3;
    border-radius: 8px;
    max-width: 200px;
}

li {
    padding: 5px 0;
    font-size: 18px;
}